<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Database Management System</display-name>
    <servlet>
        <servlet-name>HomeServletController</servlet-name>
        <servlet-class>ui.database.mgm.controller.HomeServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServletController</servlet-name>
        <servlet-class>ui.database.mgm.controller.CustomerServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServletController</servlet-name>
        <url-pattern>/customer/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployeeServletController</servlet-name>
        <servlet-class>ui.database.mgm.controller.EmployeeServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServletController</servlet-name>
        <url-pattern>/employee/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VehicleServletController</servlet-name>
        <servlet-class>ui.database.mgm.controller.VehicleServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleServletController</servlet-name>
        <url-pattern>/vehicle/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DealershipServletController</servlet-name>
        <servlet-class>ui.database.mgm.controller.DealershipServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DealershipServletController</servlet-name>
        <url-pattern>/dealership/*</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>InventoryServletController</servlet-name>
        <servlet-class>ui.database.mgm.controller.InventoryServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryServletController</servlet-name>
        <url-pattern>/inventory/*</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>BillingServletController</servlet-name>
        <servlet-class>ui.database.mgm.controller.BillingServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillingServletController</servlet-name>
        <url-pattern>/billing/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServletController</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServletController</servlet-name>
        <servlet-class>ui.database.mgm.controller.UserServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServletController</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
     <filter>
    <filter-name>AuthenticationLoginFilter</filter-name>
    <filter-class>ui.database.mgm.filter.AuthenticationLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationLoginFilter</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>
